.addButton {
  text-align: right;
  margin: 15px 25px 0px 0px;
  Button {
    background-color: #1677ff;
    color: white;
  }
  :hover {
    background-color: aliceblue;
  }
}

tr:nth-child(odd) {
  background: #e9dbf9;
}
tr:nth-child(even) {
  background: #ede3ff;
}

thead[class*='ant-table-thead'] th {
  // background-color: #c1dbff !important;s
  color: white;
  font-weight: bolder;
  border-color: #000;
  text-align: center;
  font-size: 14px;
}

// .rowClassName1 {
//   // background-color: cadetblue;
//   background-color: #1677ff;
//   border-radius: 10px;
//   border-color: chartreuse;
//   border-width: 3px;
//   border-style: solid;
// }

.rowClassName1 td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rowClassName1 td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

input.ant-input.css-dev-only-do-not-override-ixblex {
  margin-bottom: 13px;
}
span {
  font-weight: 500;
}
